
html {
  font-family: Indie Flower;
}
.superior {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding-bottom: 40px;
}
H1{
  font-size: 40px;
  color: white;
  text-shadow:  2px 2px #02010a;
}
#menu, li
  {
  font-size: 20px;
  margin-left: 80px;
  margin-top: -5px;
  margin-right: 50px;
  float: right;
  color: white;
  overflow: none;
    }
.sec1 {
    background-color: #82c3a6;
    }
#ima1 {
  margin-left: 10%;
  width: 70%;
  height: 35%;
  }
  .sec2 {
  background-color: #d5c75f;
}
#ima2 {
  margin-left: 15%;
  width: 25%;
  height: 15%;
}
#ima3 {
  margin-left: 100px;
  width: 25%;
  height: 15%;
}

.paisaje img {
  margin-left: 160px;
  margin-top: 20px;
  float: left;
  display: flex;
  width: 350px;
  height: 300px;
  background-color: #d5c75f;
   }
   .footerinicio {
     display: flex;
     flex-wrap: nowrap;
     background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
   }

   .footer {
     display: flex;
     flex-wrap: nowrap;
     background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
     margin: 35% 0px 0px 0px;
   }

   .Contacto, .Terminos, .Redes, .Derechos {
     margin: 20px 200px 20px 100px;
   }


  @media all and (max-width: 500px) {
    #menu, li {
    font-size: 15px;
    margin-left: 46px;
    margin-top: -5px;
    margin-right: 10px;
    float: right;
    color: white;
    overflow: none; }

    #ima1 {
      margin-left: 10%;
      width: 90%;
      height: 50%;}

    #ima2 {
      margin-left: 0px;
      width: 30%;
      height: 30%;
    }
    #ima3 {
      margin-left: 20%;
      width: 30%;
      height: 30%;
    }
        .paisaje img {
          margin-left: 10%;
          margin-top: 20px;
          float: left;
          display: flex;
          width: 350px;
          height: 300px;
           }

   .footer, .footerinicio {
           display: flex;
           flex-direction: column;
           background-color: #C6d5c5;
           border-radius: 0px 0px 10px 10px;
           float: left;
           margin: 1% 0px 0px 1%;
           }
  }
